{% extends "base.html" %}
{% block content %}

<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-2 mb-4">
                <h2>Project Information</h2>
                <p>We selected our sites using the   
                <a class="blk-link" href='http://www.adfontesmedia.com' target = "_blank">Media Bias Chart from ad fontes media</a>.</p>
                <!-- <p class="text-left">Image of protestors</p> -->
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block team %}{{ super() }}{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}
