{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
  {{ super() }}
  <!-- Script for chord chart -->
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
  </script>
{% endblock %}

<body>
  {% block content %}
  <!-- Intro Header -->
  <header class="masthead" id="top">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 align-middle mx-auto">
            <h1 class="brand-heading">Exploring the Divide</h1>
            <h4>Given the current political climate, and the flow of information through the power of words, 
              we wanted to explore the language between left- and right-leaning media sites.<br><br>
              No judgment. No agenda. Just discovery.<br><br>
              Discover your own insights below.</h4>
            <p>Created by <a href = "https://VanessaVanG.com" target="_blank">Vanessa Van Gilder</a>,
              <a href = "https://www.linkedin.com/in/spencer-rand/" target="_blank">Spencer Rand</a>,
              <a href = "https://www.linkedin.com/in/kellie-shontz-21b41496/" target="_blank">Kellie Shontz</a>,<br>
              <a href = "https://www.linkedin.com/in/anna-riehle/" target="_blank">Anna Riehle</a>, 
              <a href = "https://www.linkedin.com/in/mike-hager/" target="_blank">Mike Hager</a>, and 
              <a href = "https://mindthatdata.com/" target="_blank">Yegor Kryukov</a></p>
            <p class="small"><a href="{{ url_for('about') }}">Project Information</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Word Cloud Section -->
  <section id='wordcloud' class='white-section'>
    <figure class="cloud">
      <img src="{{ url_for('static', filename='img/AllCombined.png')}}" alt="all combined wordcloud" style="height:500px;width:991px;">
    </figure>
    <article class="mt-5 pt-5">
      <h2 class="text-center">Lexicography</h2>
      <p>A word cloud views the collection of words through one dimension. The more often a word is used in the body of work, the larger it appears in the cloud. To reduce the noise we removed basic grammatical construction words like <em>the</em>, <em>is</em>, and <em>of</em>. The differing shades are simply for readability.</p>
      <p>We scraped 10 left-leaning and 10 right-leaning news sites of varying bias going back to January 2017. The cloud to the left shows the combined lexicon of both sides. We can use this to identify topics or words that are dominating the media.</p>
      <p>Below, we show all the left and right sites combined together and also allow for exploring each site individually. Blue is for the left-leaning sites, red is for right-leaning sites. Explore the word clouds to see which words/phrases stand out the most.</p>
      <p><br></p>
    </article> 
  </section> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 text-center">
        <form>
          <div class="form-group">
            <select class="form-control" id="first-cloud" onchange="firstOptionChanged(this.value)"></select>
          </div>
          <div class="form-group">
            <figure class="figure" id="first-image"></figure>
          </div>
        </form>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 text-center">
        <form>
          <div class="form-group">
            <select class="form-control" id="second-cloud" onchange="secondOptionChanged(this.value)"></select>
          </div>
          <div class="form-group">
            <figure class="figure" id="second-image"></figure>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <!-- Chord Diagram Section -->
  <section>
    <figure class="chord">
      <div class="svg-container mx-auto" id='chordChart'>
      </div>
    </figure>
    <article class="mt-5 pt-5">
      <h2 class="text-center">Crossing the Divide</h2>
      <p>
        This chord diagram shows the number of times (for every 1,000 articles) each site links to another site in our study. Hover on an outer band to see that site's incoming and outgoing links. Hover on a chord to see the number of links to and from a specific site.
      </p>
      <p>
        The large outer band of The New Republic means it has significantly more links to other news sites. If you look at the Washington Post, you can see there is a darker color chord in it. By hovering on it, it shows that the Post has 58 links to Politico and Politico has 104 links to the Post. The chord takes Politico's darker coloring because there are more links from it to the Post than from the Post to it. Likewise, the chord is wider towards Politico and thinner towards the Post.
      </p>
      <p>
        We observed there were a few "hub" sites that are frequently linked to by other sites and there were some sites that linked heavily to other sites. We also discovered that the right was more likely to cross the divide than the left. 
      </p>
      <p><br></p>
    </article>
  </section>  
  <hr>
  <!--Map Section-->
  <div class="container">
    <h2 class="col-lg-12 text-center mt-2 mb-4">Top 70 Country Mentions</h2>
    <p>
      We wanted to find out if the left and right were mentioning the same countries in their articles. If a site mentioned a city or region, it was included in the parent country. As expected, the US was mentioned the most often. However, as the maps below show, there isn't a significant difference between the sides.  Both sides even mentioned the same top four countries (USA, UK, Russia, Japan) with extremely similar percentages. Hover over the countries to see the details.
    </p>
  </div>  
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
          <iframe width="100%" height="520" frameborder="0" src="https://vanessavang.carto.com/builder/81b0b3c6-a0ca-4a77-becf-257e21052f08/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <iframe width="100%" height="520" frameborder="0" src="https://vanessavang.carto.com/builder/67dc0431-fd24-4cc2-9476-ca73dfdfdc07/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
    </div>
  </div> 
  <hr>
  <!--Bar Chart Section-->
  <section id='barleft' class='white-section'>
    <figure class="model mt-2">
      <img src="{{ url_for('static', filename='img/Left-Headlines.png')}}" alt="left bias bar chart" style="height:35rem;width:35rem;">
    </figure>
    <article class="mt-5 pt-5">
      <h2 class="text-center">Site Bias</h2>
      <p>
        We created a machine learning model and taught it the difference between left and right leaning sites using 2 million words from 200,000 article headlines.
        We adjusted the data so we had the same number of articles on both sides.
        These bar charts show a sampling of phrases where the site's bias has a high probability of being left or right.
      </p>
      <p><br></p>
    </article> 
  </section>

  <section id='barright' class='white-section'>
    <figure class="model">
      <img src="{{ url_for('static', filename='img/Right-Headlines.png')}}" alt="right bias bar chart" style="height:35rem;width:35rem;">
    </figure>
    <article class="mt-5 pt-5">
      <p><br></p>
      <p>
        In some instances, we found that each side had its own vocabulary. For example the phrase <em>illegal immigrants</em> is more likely from a right news source and <em>undocumented immigrants</em> from the left.
      </p>
      <p><br></p>
    </article> 
  </section>
  <hr>
  <!--Bias Predictor Section-->
  <section class="content-section" id="textEnter">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="brand-heading text-center">Site Bias Predictor</h1>
            <p class="intro-text">Enter a word, a two-word phrase or a three-word phrase in the box below and our model will estimate the probability that the site is left or right leaning:</p>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="phrase">
              </div>
                <button id="submit" class="btn btn-dark right">Submit</button>
                <h2 style="margin-top: 10px;"><span></span></h2>    
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  {% endblock %}
  {% block team %}{{ super() }}{% endblock %}

  <!-- Footer -->
  {% block footer %}{{ super()}}{% endblock %}

  
  
  

